<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <h2>Sistema</h2>
    <div id="app">
        {{ mensaje }}
        <!--<span style="color: red">-->
    <span v-bind:style="miEstilo">{{miTexto}}</span>
    <button style="display: block" @click="cambiarColor">Cambiar a blanco</button>
    <button style="display: block" @click="cambiarColor2">Cambiar a rojo</button>
    <label style="margin-right:10px" for="">Ingrese el color</label>
    <input v-model="colorACambiar" type="text">
    <button @click="cambiarColor3">Color de ingreso</button>
    <span style="display:block;"></span>
    <label style="margin-right:10px" for="">Ingrese el texto a cambiar</label>
    <input v-model="textoACambiar" type="text">
    <button @click="cambiarTexto">Cambiar texto</button>
    <span style="display:block;"></span>
    <label style="margin-right:10px" for="">Ingrese el texto a cambiar grande</label>
    <input v-model="nuevoTexto" type="text">
    <button @click="cambiarTextoGrande">Cambiar texto</button>
    </div>
    <script src="index.js"></script>
</body>
</html>